## The Spark foundation Internship {Task No. 4 : The Global Terrorism}
### By Shaima Ramy

**This Dataset showing the terrorist Attack Numbers allover the world from 1970 to 2017**

**In this project will explore the data and found important Insights aboyt the hotzone of terrorism in the world, the most bloody year and which attack type cause the most injuries and killed.**

#### * Importing liberaries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### * Reading the data

In [11]:
df = pd.read_csv('globalterrorismdb_0718dist.csv', encoding ='iso-8859-1')
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

#### * Cleaning the data

In [19]:
df.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country','region_txt':'Region','attacktype1_txt':'AttackType','target1':'Target','nkill':'Killed','nwound':'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type','weaptype1_txt':'Weapon_type','motive':'Motive'},inplace=True)
df=df[['Year','Month','Day','Country','Region','city','latitude','longitude','AttackType','Killed','Wounded','Target','Summary','Group','Target_type','Weapon_type','Motive']]
df['Injuries']=df['Killed']+df['Wounded']
df.head()

,Year,Month,Day,Country,Region,city,latitude,longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,Motive,Injuries
0,1970,7,2,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,1.0
1,1970,0,0,Mexico,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,NaN,0.0
2,1970,1,0,Philippines,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN,1.0
3,1970,1,0,Greece,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN,NaN
4,1970,1,0,Japan,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN,NaN

In [9]:
df.isnull().sum()

Year               0
Month              0
Day                0
Country            0
Region             0
city             434
AttackType         0
Killed         10313
Wounded        16311
Target           636
Summary        66129
Target_type        0
Weapon_type        0
Injuries       16874
dtype: int64

#### * Insights

#### *1-The Hot Zone of terrorism in world from 1970 to 2017*

In [24]:
df['Region'].value_counts().index[0]

'Middle East & North Africa'

#### *2-The most country with terrors attack in world*

In [25]:
df['Country'].value_counts().index[0]

'Iraq'

#### *3-The most Bloody year in the world from 1970 to 2017*

In [26]:
df['Year'].value_counts().index[0]

2014

#### *4-The most attack type happend*

In [27]:
df['AttackType'].value_counts().index[0]

'Bombing/Explosion'

#### *5-Attack type happend on Iraq*

In [28]:
df.query("(Country == 'Iraq')").value_counts('AttackType')

AttackType
Bombing/Explosion                      18286
Armed Assault                           3155
Assassination                           1287
Hostage Taking (Kidnapping)              946
Unknown                                  765
Facility/Infrastructure Attack           154
Hostage Taking (Barricade Incident)       24
Hijacking                                 13
Unarmed Assault                            6
dtype: int64

#### *6-Exploring number of Victims*
##### *a - Killed Victims*

In [33]:
print('The max number of killed Victims was', df['Killed'].max(), 'at', df.loc[df['Killed'].idxmax()].Year, 'in',df.loc[df['Killed'].idxmax()].Country, 'beacause of', df.loc[df['Killed'].idxmax()].AttackType)

The max number of killed Victims was 1570.0 at 2014 in Iraq beacause of Hostage Taking (Kidnapping)

##### *b - Wounded Victims*

In [34]:
print('The max number of Wounded Victims was', df['Wounded'].max(), 'at', df.loc[df['Wounded'].idxmax()].Year, 'in',df.loc[df['Wounded'].idxmax()].Country, 'beacause of', df.loc[df['Wounded'].idxmax()].AttackType)

The max number of Wounded Victims was 8191.0 at 2001 in United States beacause of Hijacking

##### *c - Both Killed and Wounded Victims*

In [35]:
print('The max number of victims was', df['Injuries'].max(), 'at', df.loc[df['Injuries'].idxmax()].Year, 'in',df.loc[df['Injuries'].idxmax()].Country, 'beacause of', df.loc[df['Injuries'].idxmax()].AttackType)

The max number of victims was 9574.0 at 2001 in United States beacause of Hijacking

### Insights Summary
**1- Iraq is the most country has terrorism attack with the large number of 'Bombing/ Explosion' attacks, and that makes the 'Middle East & North Africa' is the Hot zone of terrorism at the world from 1970 - 2017**

**2-However the Explosion was the most attack type in Iraq through all the mentioned period, Found that Kidnapping cause the max number of killed people in 2014**

**3-In 2001 number of victims because of 'Hijacking' in united states was the max number allover the mentioned years than the number of victims in any attack at the most country 'Iraq'**